#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;

  & > * {
    width: 100%;
  }

  button {
    margin-bottom: 10vh;
  }

  header{
    margin-top: 10vh;
  }
}
